<div class="container">
  <h1 class="text-center mb-5">Angular Test App</h1>
  <div class="row">

    <div 
      class="wrap_toasts"
      aria-live="polite" 
      aria-atomic="true" 
    >      
      <div class="wrap_toasts toasts">
        <app-toasts
          [toastsTime]="time"
          [toastsStatus]="status"
        ></app-toasts>
      </div>
    </div>
    
    <div class="app-header d-flex flex-column ml-auto mr-auto">      
      <h3 class="text-center">List of users</h3>      
      <div class="d-flex justify-content-center align-items-center mt-4">
        <button 
          type="button" 
          class="btn btn-warning" 
          data-toggle="modal" 
          data-target="#loginModal"
          [disabled]="!checkAuth"
        >
          Login
        </button>
        <button 
          type="button" 
          class="btn btn-danger ml-4"
          (click)="logoutUser()"
          [disabled]="checkAuth"
        >
          Logout
        </button>
      </div>
      <div class="d-flex mt-4">
        <button 
          type="button" 
          class="btn btn-success ml-4"
          data-toggle="modal" 
          data-target="#createModal"
          [disabled]="checkAuth"
        >
          Add a new user!
        </button>
        <p class="ml-4">or click to</p>
        <button 
          type="button" 
          class="btn btn-info ml-4" 
          (click)="ngOnInit()"
          [disabled]="checkAuth"
        >
          Get users again!
        </button>
      </div>

      <div *ngIf="!loading; else loadingBlock"></div> 
      <ng-template #loadingBlock>
        <p class="alert alert-warning alert-dismissible fade show text-center mt-4 text-center" role="alert">
          <strong> Loading, </strong> please, wait...
        </p>  
      </ng-template>
      
    </div>

    <app-auth-user (onAuth)="loginUser($event)"></app-auth-user>
    
    <app-creating-user (onAdd)="addUser($event)">
    </app-creating-user>

    <app-editing-user (onEdit)="editActiveUser($event)">
    </app-editing-user>

    <table class="table table-hover mt-4">   
      <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">First Name</th>
          <th scope="col" class="text-center">Last Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Avatar</th>
          <th scope="col" class="text-center">Edit User</th>
        </tr>
      </thead>
      <tbody>          
        <app-user 
          *ngFor="let user of users"
          [user]="user"
          [checkAuth]="!checkAuth"
          (onRemove)="removeUser($event)"
          (onEdit)="changeActiveUser($event)"
        >
        </app-user>
      </tbody> 
    </table>    
    
  </div>   <!-- end .row -->

</div> <!-- end .container -->