p {
  font-size: 1.5rem;
}

app-user {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table-hover tbody app-user:hover {
  color: #212529;
  background-color: rgba(0,0,0,.075);
}

.wrap_toasts {
  position: relative; 
  min-height: 200px;
  
  .toasts {
    position: fixed; 
    top: 15; 
    left: 50; 
    z-index: 1000;
  }
}

