<div class="modal fade" id="changeModal" aria-labelledby="changeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="changeModalLabel">Change a user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="changeForm"
          [formGroup]="changeForm" 
          (ngSubmit)="changeUser()"
        >
          <div class="form-group">
              <label>Change first name</label>
              <input 
                class="form-control" 
                formControlName="first_name" required
              >
              <div class="validation" 
                *ngIf="changeForm.get('first_name').invalid && changeForm.get('first_name').touched"
              >
                <small>       
                  Edit first name
                </small>
              </div>
          </div>          
          <div class="form-group">
              <label>Change last name</label>
              <input 
                class="form-control" 
                formControlName="last_name" required
              >
              <div class="validation"      
                *ngIf="changeForm.get('last_name').invalid && changeForm.get('last_name').touched"          
              >
                <small>
                  Edit last name
                </small>
              </div>
          </div>
          <div class="form-group">
              <label>Change email address</label>
              <input
                class="form-control" 
                formControlName="email" type="email" required
              >
              <div class="validation"
                *ngIf="changeForm.get('email').invalid && changeForm.get('email').touched"        
              >
                <small *ngIf="changeForm.get('email').errors.required">
                  Edit email address
                </small>
                <small *ngIf="changeForm.get('email').errors.email">
                  Enter <b>correct</b> email address
                </small>
              </div>
          </div>
          <div class="form-group">
            <label >Avatar</label>
            <input 
              class="form-control" 
              formControlName="avatar"
              type="text" 
            >
            <div class="validation"
              *ngIf="changeForm.get('avatar').invalid && changeForm.get('avatar').touched"          
            >
              <small>
                Insert the link to the avatar
              </small>
            </div>
           </div>
          <div class="modal-footer">
            <button 
              type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal"
            >
                Close
            </button>
            <button 
              type="submit" 
              class="btn btn-primary"               
              [disabled]="changeForm.invalid"
            >
              Change a user
            </button>
          </div>
        </form>
      </div>      
    </div>
  </div>
</div>